apps:
  - name: profile-history-service-api
    environment: production
    codebase: profile-history-service
    autoscaling:
      enabled: true
      minReplicas: 1
      maxReplicas: 5
      targetCPUUtilizationPercentage: 80
    container:
      image:
        repository: osuakatsuki/profile-history-service
        tag: latest
      port: 80
      readinessProbe:
        httpGet:
          path: /_health
          port: 80
        initialDelaySeconds: 5
        periodSeconds: 10
        timeoutSeconds: 2
        successThreshold: 1
        failureThreshold: 3
      resources:
        limits:
          cpu: 200m
          memory: 250Mi
        requests:
          cpu: 100m
          memory: 150Mi
      env:
        - name: APP_COMPONENT
          value: api
      imagePullSecrets:
        - name: osuakatsuki-registry-secret
        # - name: registry-akatsuki
    service:
      type: ClusterIP
      port: 80
